.btns {
  text-align: center;
}
.btns .btn {
  border: none;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
}
.btns .primary {
  background-color: royalblue;
}
.btns .confirm {
  background-color: yellowgreen;
}
.btns .danger {
  background-color: crimson;
}