$primary: royalblue;
$confirm: yellowgreen;
$danger: crimson;
$btn-padding: 10px 30px;

.btns {
  text-align: center;
  .btn {
    border: none;
    text-transform: capitalize;
    font-size: 15px;
    padding: $btn-padding;
    border-radius: 3px;
    color: #fff;
  }
  .primary {
    background-color: $primary;
  }
  .confirm {
    background-color: $confirm;
  }
  .danger {
    background-color: $danger;
  }
}